

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-553992300909298581.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-553992300909298581.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-553992300909298581.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-553992300909298581.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-553992300909298581.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-553992300909298581.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-553992300909298581.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-553992300909298581.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-553992300909298581.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-553992300909298581.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-553992300909298581.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-553992300909298581.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-553992300909298581.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-553992300909298581.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-553992300909298581.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-553992300909298581.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-553992300909298581.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-553992300909298581.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-553992300909298581.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-553992300909298581.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-553992300909298581.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-553992300909298581.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-553992300909298581.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-553992300909298581.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-553992300909298581.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-553992300909298581.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-553992300909298581.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-553992300909298581.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-553992300909298581.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-553992300909298581.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-553992300909298581.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-553992300909298581.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-553992300909298581.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-553992300909298581.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-553992300909298581.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-553992300909298581.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-553992300909298581.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-553992300909298581.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-553992300909298581.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-553992300909298581.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-553992300909298581.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-553992300909298581.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-553992300909298581.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-553992300909298581.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-553992300909298581.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-553992300909298581.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-553992300909298581.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-553992300909298581.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-553992300909298581.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-553992300909298581.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-553992300909298581.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-553992300909298581.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-553992300909298581.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-553992300909298581.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-553992300909298581.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-553992300909298581.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-553992300909298581 .gp-relative{position:relative}.gps-553992300909298581 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553992300909298581 .gp-mb-0{margin-bottom:0}.gps-553992300909298581 .gp-flex{display:flex}.gps-553992300909298581 .gp-inline-flex{display:inline-flex}.gps-553992300909298581 .gp-grid{display:grid}.gps-553992300909298581 .\!gp-hidden{display:none!important}.gps-553992300909298581 .gp-hidden{display:none}.gps-553992300909298581 .gp-max-w-full{max-width:100%}.gps-553992300909298581 .gp-flex-col{flex-direction:column}.gps-553992300909298581 .gp-items-center{align-items:center}.gps-553992300909298581 .gp-justify-center{justify-content:center}.gps-553992300909298581 .gp-gap-y-0{row-gap:0}.gps-553992300909298581 .gp-overflow-hidden{overflow:hidden}.gps-553992300909298581 .gp-leading-\[0\]{line-height:0}.gps-553992300909298581 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553992300909298581 .gp-duration-200{transition-duration:.2s}.gps-553992300909298581 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-553992300909298581 .tablet\:\!gp-hidden{display:none!important}.gps-553992300909298581 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553992300909298581 .mobile\:\!gp-hidden{display:none!important}.gps-553992300909298581 .mobile\:gp-hidden{display:none}}.gps-553992300909298581 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-553992300909298581 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-553992300909298581 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-553992300909298581 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-553992300909298581 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-553992300909298581 .\[\&_p\]\:gp-inline p{display:inline}.gps-553992300909298581 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-553992300909298581 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(90% + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g91Zbwbdhq" data-id="g91Zbwbdhq"
        style="--blockPadding:base;--pt:10px;--pl:0px;--pb:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:center;--gtc:minmax(0, 2fr) minmax(0, 4fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g91Zbwbdhq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gL-yXM8jpC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gQdshL_LT3" data-id="gQdshL_LT3"
        style="--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQdshL_LT3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwum3DAEQ3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnO9K9m7zV">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gnO9K9m7zV "
        style="--ta:center;--pt:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Lovelo-Black, 'Lovelo Black'), var(--g-font-heading, heading);--weight:400;--ls:2px;--size:30px;--size-tablet:52px;--size-mobile:46px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#f6b1ac;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnO9K9m7zV_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gbwS73Mwut gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g7p57rz7gS" data-id="g7p57rz7gS"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:26px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7p57rz7gS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g6hn74hrEA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNabCdN2Xo">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNabCdN2Xo "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNabCdN2Xo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gq4rtOA1d7 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="giepEPvobB">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="giepEPvobB "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggiepEPvobB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gy1CeGiy9x gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="geqlNfIMzN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="geqlNfIMzN "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggeqlNfIMzN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gM_c1Q34uc gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gnSvRXdB-4" data-id="gnSvRXdB-4"
        style="--pr:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:26px;--pc:end;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnSvRXdB-4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gCYwFq0HYj gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
      class="gp-leading-[0] gjGk-kfhp3"
    >
      <div 
      data-id="gjGk-kfhp3"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#424242;--t:rotate(0deg);--w:28px;--w-tablet:28px;--w-mobile:28px;--h:28px;--h-tablet:28px;--h-mobile:28px;--minw:28px;--minw-tablet:28px;--minw-mobile:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817633468219752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228.24,219.76l-51.38-51.38a86.15,86.15,0,1,0-8.48,8.48l51.38,51.38a6,6,0,0,0,8.48-8.48ZM38,112a74,74,0,1,1,74,74A74.09,74.09,0,0,1,38,112Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gTs2Cez-Ij gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
      class="gp-leading-[0] gZTM7n-lBO"
    >
      <div 
      data-id="gZTM7n-lBO"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#424242;--t:rotate(0deg);--w:28px;--w-tablet:28px;--w-mobile:28px;--h:28px;--h-tablet:28px;--h-mobile:28px;--minw:28px;--minw-tablet:28px;--minw-mobile:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817656350048616">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26ZM71.44,198a66,66,0,0,1,113.12,0,89.8,89.8,0,0,1-113.12,0ZM94,120a34,34,0,1,1,34,34A34,34,0,0,1,94,120Zm99.51,69.64a77.53,77.53,0,0,0-40-31.38,46,46,0,1,0-51,0,77.53,77.53,0,0,0-40,31.38,90,90,0,1,1,131,0Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gX_o3B7SgJ gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
      class="gp-leading-[0] g1YjFsC3L3"
    >
      <div 
      data-id="g1YjFsC3L3"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#424242;--t:rotate(0deg);--w:28px;--w-tablet:28px;--w-mobile:28px;--h:28px;--h-tablet:28px;--h-mobile:28px;--minw:28px;--minw-tablet:28px;--minw-mobile:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609073492328">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M134,120v56a6,6,0,0,1-12,0V120a6,6,0,0,1,12,0Zm40.83-.6-5.6,56A6,6,0,0,0,174.6,182l.61,0a6,6,0,0,0,6-5.4l5.6-56a6,6,0,0,0-11.94-1.2Zm-93.66,0a6,6,0,0,0-11.94,1.2l5.6,56a6,6,0,0,0,6,5.4l.61,0a6,6,0,0,0,5.37-6.57ZM238,88.79,222.87,201.85A14,14,0,0,1,209,214H47a14,14,0,0,1-13.87-12.15L18.05,88.79A6,6,0,0,1,24,82H69.28l54.2-61.95a6,6,0,0,1,9,0l54.2,62H232A6,6,0,0,1,238,88.79ZM85.22,82h85.56L128,33.11ZM225.15,94H30.85L45,200.26A2,2,0,0,0,47,202H209a2,2,0,0,0,2-1.74Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQg.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sqzrQ6t3l4PmOo.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQ6t3l4P.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-553992300909298581 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/djm1vf-jd/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=545456824741070033&sectionId=553992300909298581)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggnO9K9m7zV_text","label":"ggnO9K9m7zV_text","default":"<p>EDGY</p>"},{"type":"html","id":"ggNabCdN2Xo_text","label":"ggNabCdN2Xo_text","default":"<p>Home</p>"},{"type":"html","id":"ggiepEPvobB_text","label":"ggiepEPvobB_text","default":"<p>Kit viso</p>"},{"type":"html","id":"ggeqlNfIMzN_text","label":"ggeqlNfIMzN_text","default":"<p>Contattaci</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
