

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-553985433172706499.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-553985433172706499.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-553985433172706499.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-553985433172706499.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-553985433172706499.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-553985433172706499.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-553985433172706499.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-553985433172706499.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-553985433172706499.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-553985433172706499.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-553985433172706499.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-553985433172706499.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-553985433172706499.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-553985433172706499.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-553985433172706499.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-553985433172706499.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-553985433172706499.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-553985433172706499.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-553985433172706499.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-553985433172706499.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-553985433172706499.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-553985433172706499.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-553985433172706499.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-553985433172706499.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-553985433172706499.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-553985433172706499.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-553985433172706499.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-553985433172706499.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-553985433172706499.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-553985433172706499.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-553985433172706499.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-553985433172706499.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-553985433172706499.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-553985433172706499.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-553985433172706499.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-553985433172706499.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-553985433172706499.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-553985433172706499.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-553985433172706499 .-gp-translate-x-1\/2,.gps-553985433172706499 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-553985433172706499 .gp-absolute{position:absolute}.gps-553985433172706499 .gp-relative{position:relative}.gps-553985433172706499 .gp-left-0{left:0}.gps-553985433172706499 .gp-left-1\/2{left:50%}.gps-553985433172706499 .gp-top-0{top:0}.gps-553985433172706499 .gp-top-1\/2{top:50%}.gps-553985433172706499 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553985433172706499 .gp-mb-0{margin-bottom:0}.gps-553985433172706499 .gp-flex{display:flex}.gps-553985433172706499 .gp-grid{display:grid}.gps-553985433172706499 .\!gp-hidden{display:none!important}.gps-553985433172706499 .gp-hidden{display:none}.gps-553985433172706499 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-553985433172706499 .gp-h-full{height:100%}.gps-553985433172706499 .gp-w-14{width:56px}.gps-553985433172706499 .gp-w-5{width:20px}.gps-553985433172706499 .gp-w-full{width:100%}.gps-553985433172706499 .\!gp-max-w-none{max-width:none!important}.gps-553985433172706499 .gp-max-w-full{max-width:100%}.gps-553985433172706499 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-553985433172706499 .-gp-translate-x-1\/2,.gps-553985433172706499 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-553985433172706499 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-553985433172706499 .gp-flex-col{flex-direction:column}.gps-553985433172706499 .gp-items-center{align-items:center}.gps-553985433172706499 .gp-justify-center{justify-content:center}.gps-553985433172706499 .gp-gap-y-0{row-gap:0}.gps-553985433172706499 .gp-overflow-hidden{overflow:hidden}.gps-553985433172706499 .gp-rounded{border-radius:4px}.gps-553985433172706499 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-553985433172706499 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-553985433172706499 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-553985433172706499 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-553985433172706499 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553985433172706499 .gp-duration-200{transition-duration:.2s}.gps-553985433172706499 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-553985433172706499 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-553985433172706499 .tablet\:\!gp-hidden{display:none!important}.gps-553985433172706499 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553985433172706499 .mobile\:\!gp-hidden{display:none!important}.gps-553985433172706499 .mobile\:gp-hidden{display:none}}.gps-553985433172706499 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-553985433172706499 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-553985433172706499 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-553985433172706499 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gc-HZGtEdR" data-id="gc-HZGtEdR"
        style="--blockPadding:base;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gc-HZGtEdR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBoPXQF0BR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gtkoFhyBrq"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gtkoFhyBrq"
      style="--mb:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gtkoFhyBrq"
      class=" gp-w-full gp-object-cover"
      style="--aspect:auto"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/43b8ee99fab149228278598f26ca3c28.mp4"
      src="https://cdn.shopify.com/videos/c/o/v/43b8ee99fab149228278598f26ca3c28.mp4"
      poster=""
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/43b8ee99fab149228278598f26ca3c28.mp4" src="https://cdn.shopify.com/videos/c/o/v/43b8ee99fab149228278598f26ca3c28.mp4" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-553985433172706499 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/djm1vf-jd/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=545456824741070033&sectionId=553985433172706499)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
